<template name="admin_news_edit">
  <div class="panel panel-default">
    <div class="panel-heading">
        <div class="form-group">
          <input type="text" class="form-control" id="headline" value="{{headline}}" placeholder="{{i18n 'headline'}}" />
        </div>
        <div class="form-group">
          <div class="input-group date">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><i class="fa fa-time"></i></button>
            </span>
            <input class="form-control" id="date" value="{{dateFormat date format="YYYY-MM-DD HH:mm:ss"}}" type="text" placeholder="{{i18n 'date'}}" />
          </div>
        </div>
        <div class="form-group">
          <input class="form-control" id="locale" value="{{locale}}" type="text" placeholder="{{i18n 'locale'}}" />
        </div>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <textarea class="form-control" id="text" rows="10">{{text}}</textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-success save" id="{{_id}}"><i class="fa fa-save"></i> {{i18n 'save'}}</button>
        <button class="btn btn-danger cancel"><i class="fa fa-reply"></i> {{i18n 'back'}}</button>
      </div>
    </div>
  </div>
</template>
