<template name="admin_news">
  {{> pagination pages}}

  {{#if isInRole 'news:create'}}<div class="form-group">
    <a class="btn btn-success" href="{{pathFor 'admin_news_edit' _id='new'}}"><i class="fa fa-plus"></i> {{i18n 'new_news'}}</a>
    <button class="btn btn-info propagate-new-news"><i class="fa fa-bullhorn"></i> {{i18n 'unread_news_flashing'}}</button>
  </div>{{/if}}
  {{#each news}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{#if isInRole 'news:update'}}
            <a href="{{pathFor 'admin_news_edit' _id=_id}}">{{headline}} <small>{{locale}}</small></a>
          {{else}}
            {{headline}}
          {{/if}}
          {{#if isInRole 'news:delete'}}
            <button type="button" class="close pull-right delete" id="{{_id}}">&times;</button>
          {{/if}}
        </h3>
        <small>{{dateFormat date}} Uhr</small>
      </div>
      <div class="panel-body">{{#markdown}}{{text}}{{/markdown}}</div>
    </div>
  {{/each}}

  {{> pagination pages}}
</template>