<template name="admin_statistics">
  <div class="admin-statistics">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{i18n 'bank'}}</h3>
      </div>
      <div class="panel-body">
        {{formatCurrency balance}} {{i18n 'without_deposit'}}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{i18n 'consumption'}}</h3>
      </div>
      <div class="panel-body">
        <svg id="admin-statistics-consumption"></svg>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{i18n 'balance'}}</h3>
      </div>
      <div class="panel-body">
        <svg id="admin-statistics-balance"></svg>
      </div>
    </div>
  </div>
</template>
