<template name="crates">
{{#if hasElements crates}}
  {{> pagination pages}}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>{{i18n 'room'}}</th>
        <th>{{i18n 'content'}}</th>
        <th>{{i18n 'stock'}}</th>
        <th>{{i18n 'price'}}</th>
        <th class="hidden-xs">{{i18n 'bought'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each crates}}
      <tr>
        <td><button class="{{buyButtonClass pricePerBottle}} buy-bottle" value="{{_id}}" pricePerBottle="{{pricePerBottle}}"><i class="{{buyIconClass}}"></i> {{i18n 'buy'}}</button></td>
        <td>{{roomNo}}</td>
        <td>{{content}}</td>
        <td>{{volume}}</td>
        <td>{{formatCurrency pricePerBottle}}</td>
        <td class="hidden-xs">{{dateFormat bought}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{> pagination pages}}
{{else}}
  <div>
    <div class="jumbotron">
      <h1>{{i18n 'crates_depleted_header'}}</h1>
      <p>{{i18n 'crates_depleted_text'}}</p>
    </div>
  </div>
{{/if}}
</template>