<template name="crates">
  {{#unless hasElements crates}}
    <div>
      <div class="jumbotron">
        <h1>{{i18n 'crates_depleted_header'}}</h1>
        <p>{{i18n 'crates_depleted_text'}}</p>
      </div>
    </div>
  {{else}}
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>{{i18n 'room'}}</th>
          <th>{{i18n 'content'}}</th>
          <th>{{i18n 'stock'}}</th>
          <th>{{i18n 'price'}}</th>
          <th class="hidden-xs">{{i18n 'bought'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each crates}}
          {{>crate}}
        {{/each}}
      </tbody>
    </table>
    {{#if moreResults}}
      <button id="showMoreResults" type="button" class="btn btn-primary btn-block">{{#unless ready}}{{i18n 'loading'}} <i class="fa fa-spinner fa-spin"></i>{{else}}{{i18n 'load_more'}} <i class="fa fa-refresh"></i>{{/unless}}</button>
    {{/if}}
  {{/unless}}
</template>
