<template name="not_found">
  <div class="container">
    <div class="jumbotron">
    <h1>{{i18n 'not_found_header'}}</h1>
      <p>{{i18n 'not_found_text'}}</p>
      <p><a href="/" class="btn btn-primary btn-large">{{i18n 'back'}}</a></p>
    </div>
  </div>
</template>

<head>
  <title>mate-app</title>
</head>

<body>
  <span style="position:fixed;bottom:5px;right:5px;font-size:9px;">v3.2.1</span>
</body>

<template name="layout">
  {{#unless currentUser}}
    {{> flashMessages}}
    {{> login}}
  {{else}}
    {{> navigation}}
    <div class="container">
      <div class="row">
        {{> flashMessages}}
        {{#unless termsAndConditionsAccepted}}
          {{> termsAndConditions}}
        {{else}}
          {{> yield}}
        {{/unless}}
      </div>
    </div>
  {{/unless}}
</template>
