<template name="profile">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{i18n 'my_data'}}</h3>
  </div>
  <div class="panel-body">
    <div class="form-horizontal">
      <div class="form-group">
        <label for="inputUsername" class="col-lg-2 control-label">{{i18n 'name'}}</label>
        <div class="col-lg-10">
          <p class="form-control-static">{{userName}}</p>
        </div>
      </div>
      <div class="form-group">
        <label for="textRegistered" class="col-lg-2 control-label">{{i18n 'joined'}}</label>
        <div class="col-lg-10">
          <p class="form-control-static">{{dateFormat createdAt}}</p>
        </div>
      </div>
      {{#if status.lastLogin}}<div class="form-group">
        <label for="textRegistered" class="col-lg-2 control-label">{{i18n 'last_visited'}}</label>
        <div class="col-lg-10">
          <p class="form-control-static">{{dateFormat status.lastLogin}}</p>
        </div>
      </div>{{/if}}
      {{#if profile.lastBought.when}}<div class="form-group">
        <label for="textLastBought" class="col-lg-2 control-label">{{i18n 'last_purchase'}}</label>
        <div class="col-lg-10">
          <p class="form-control-static">{{dateFormat profile.lastBought.when}}</p>
        </div>
      </div>{{/if}}
      <div class="form-group">
        <label for="textBalance" class="col-lg-2 control-label">{{i18n 'balance'}}</label>
        <div class="col-lg-10">
          <p class="form-control-static">{{formatCurrency profile.balance}}</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          {{#if profile.termsAndConditionsAccepted}}<span class="{{booleanTextClass consumer.profile.termsAndConditionsAccepted}}">{{formatBoolean profile.termsAndConditionsAccepted}}</span> {{i18n 'terms_and_conditions_accepted'}}{{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
</template>
