<template name="termsAndConditions">
  <div class="modal show">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{data.title}}</h4>
        </div>
        <div class="modal-body">
          {{#markdown}}{{data.text}}{{/markdown}}
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-success accept">{{i18n 'accept_terms_and_conditions'}}</button>
      </div>
      </div>
    </div>
  </div>
</template>