<template name="transactions">
{{#if hasElements transactions}}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>{{i18n 'date'}}</th>
        <th>{{i18n 'subject'}}</th>
      </tr>
    </thead>
    <tbody>
    {{#each transactions}}
      <tr>
        <td>{{dateFormat boughtAt}}</td>
        <td>{{#if description}}
        {{description}}
        {{else}}
          {{#if crate}}
            {{i18n 'transaction_bottle_bought' crate}}
          {{else}}
            {{i18n type}} {{i18n 'for'}} {{formatCurrency value}}
          {{/if}}
        {{/if}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  {{#if moreResults}}
    <button id="showMoreResults" type="button" class="btn btn-primary btn-block">{{#unless ready}}{{i18n 'loading'}} <i class="fa fa-spinner fa-spin"></i>{{else}}{{i18n 'load_more'}} <i class="fa fa-refresh"></i>{{/unless}}</button>
  {{/if}}
{{else}}
  <div class="jumbotron">
    <h1>{{i18n 'no_transactions_header'}}</h1>
    <p>{{i18n 'no_transactions_text'}}</p>
  </div>
{{/if}}
</template>
