<template name="admin_consumers">
  {{#if isInRole 'users:update'}}
    <select id="usernames" class="username-selector">
      <option value="">{{i18n 'jump_to'}}</option>
      {{#each allConsumers}}
        <option value="{{_id}}">{{username}}</option>
      {{/each}}
    </select>
  {{/if}}

  {{> pagination pages}}

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        {{#if isInRole 'users:update'}}
          <th></th>
        {{/if}}
        <th>{{i18n 'name'}}</th>
        <th>{{i18n 'joined'}}</th>
        <th>{{i18n 'last_seen'}}</th>
        <th>{{i18n 'balance'}}</th>
        <th>{{i18n 'terms_and_conditions_accepted'}}</th>
        <th>{{i18n 'news'}}</th>
      </tr>
    </thead>
    <tbody>
    {{#each consumers}}
      <tr id="{{_id}}">
        {{#if isInRole 'users:update'}}
          <td><a class="btn btn-default btn-block edit" href="{{pathFor 'admin_consumer' _id=_id}}"><i class="fa fa-wrench"></i></a></td>
        {{/if}}
        <td>{{username}}</td>
        <td>{{dateFormat profile.created}}</td>
        <td>{{dateFormat profile.lastLogin}}</td>
        <td>{{formatCurrency profile.balance}}</td>
        <td><p class="{{booleanTextClass profile.termsAndConditionsAccepted}}">{{formatBoolean profile.termsAndConditionsAccepted}}</p></td>
        <td><p class="{{negativeBooleanTextClass profile.unreadNews}}">{{formatNegativeBoolean profile.unreadNews}}</p></td>
      </tr>
    {{/each}}
    </tbody>
  </table>

  {{> pagination pages}}
</template>