<template name="admin_consumers">
  <div class="row">
  {{#if isInRole 'users:update'}}
    {{> userSelector allConsumers}}
  {{/if}}
  </div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        {{#if isInRole 'users:update'}}
          <th></th>
        {{/if}}
        <th>{{i18n 'name'}}</th>
        <th>{{i18n 'joined'}}</th>
        <th>{{i18n 'last_seen'}}</th>
        <th>{{i18n 'online'}}</th>
        <th>{{i18n 'balance'}}</th>
        <th>{{i18n 'terms_and_conditions_accepted'}}</th>
        <th>{{i18n 'news'}}</th>
      </tr>
    </thead>
    <tbody>
    {{#each consumers}}
      {{> consumerRow}}
    {{/each}}
    </tbody>
  </table>
  {{#if moreResults}}
    <button id="showMoreResults" type="button" class="btn btn-primary btn-block">{{#unless ready}}{{i18n 'loading'}} <i class="fa fa-spinner fa-spin"></i>{{else}}{{i18n 'load_more'}} <i class="fa fa-refresh"></i>{{/unless}}</button>
  {{/if}}
</template>
